.main-input {
  font-size: 18px;
}

.bar {
  border-color: blue;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: lavenderblush;
  font-size: 15px; /* ใช่แบบนี้ปะ  input ใหญ่ขึ้น*/
}

.add-item-btn {
  background-color: #ffd662ff;
  color: black;
  border-color: lightgray;
  border-radius: 5px;
}

.main-cart {
  text-decoration: green underline;
  text-align: left;
  text-transform: capitalize;
}

.delete-btn {
  font-weight: bold;
}
